

  *{
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}


.main{
  background-color: aquamarine;
  padding: 15px;  
}

img{
  height: 200px;
  width: 300px;
  padding: 10px;
  padding-top: 0;
  float: left;

}

.logoHeader{
  text-transform: lowercase;
  color:#f08804;
  font-size: 30px;
  height:45px;
  padding: 10px;
  border-radius: 20px;
}


.left-card{
  
  float:right;
}

.bodyHeader{
  font-weight: 70px;
  margin-top: 40px;
  text-align: center;
  font-size: 60px;
  display: flex;
  
}

.creative{
  color: rgb(25, 25, 207);
  text-decoration: underline;
  margin: 2px;
}

button{
  background-color: #f08804;
}



.bodyContent{
  text-align: justify;
  padding: 5px;
  margin: 20px;
  display: flex;
  margin-top: 70px;
  padding: 40px;
  
}


.card-text{
  margin: 5px;
  
}

.left-card{
  float: left;
  height: 100%;
  
}

.right-card{
  float: right;
  height: 100%;
  margin-left:60px ;
  padding-left: 0;
}

.footer{
  
  color:antiquewhite;
  background-color: rgb(41, 6, 75);
  clear: both;
  text-align: center;
  margin-top: 700px;
  h4{
    background-color: rgb(41,6,75);
  }
  p{
    background-color: rgb(41, 6, 75);
  }
}



.logoHeader:hover{
  border: 1px solid white;
}

@media (max-width: 680px) {
  .logoHeader {
    width: 100px;
    font-size: 24px;
    color: rgb(187, 20, 20);
    text-align: center;
  }

  .body-content{
    
  }
  h1{
    text-align: center;
    column-gap: 2px;
  }
  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  .footer{
    visibility: collapse;
  }
}




