

  *{
  margin: 0;
  padding: 0;
}

footer{
  padding: 26px;
  color:antiquewhite;
  background-color: rgb(41, 6, 75);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  background-color: aquamarine;
  display: flex;
  padding: 15px;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

img{
  height: 200px;
  width: 300px;
  padding: 10px;
  padding-top: 0;

}

.logoHeader{
  text-transform: lowercase;
  color:#f08804;
  font-size: 16px;
  height:45px;
  background-color: #0f1111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.left-card{
  display: block;
  float:right;
}

.bodyHeader{
  margin-top: 10px;
  padding-top: 10px;
  
}

.creative{
  color: rgb(25, 25, 207);
}

button{
  background-color: #f08804;
}

a{
  margin:40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 50px;
}

.bodyContent{
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 20px;
  float: left;
}

h1{
  font-size: 80px;
  margin-top: 100px;

}


.logoHeader:hover{
  border: 1px solid white;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}


